[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/LS_COLORS"]
	path = config/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
