.DS_Store
.tags
node_modules/
package-lock.json

# ignore everything inside
config/config/*
config/config/fish/*
config/config/fish/functions/*
config/config/nvim/*
config/config/nvim/lua/config/local.lua
# but skip the folders themselves
!config/config/
!config/config/bat/
!config/config/fish/
!config/config/fish/functions/
!config/config/helix/
!config/config/nvim/
!config/config/nvim/lua/
!config/config/nvim/snippets/
# so that it's possible to version a few specific files
!config/config/efm-langserver
!config/config/fish/config.fish
!config/config/fish/fish_plugins
!config/config/fish/shell-integration.fish
!config/config/fish/functions/fzf_append_mru_to_prompt.fish
!config/config/fish/functions/fzf_append_live_grep_to_prompt.fish
!config/config/fish/functions/switch_project.fish
!config/config/nvim/coc-settings.json
!config/config/nvim/init.lua
!config/config/nvim/lazy-lock.json
!config/config/starship*.toml
Brewfile.lock.json
